h1{
    display: flex;
    justify-content: center;
    color: rgb(33, 156, 160);
}
h2{
    color: rgb(53, 97, 9);
}
ul li{
    color: darkgoldenrod;
    list-style-type: circle;
}
p{
    display: flex;
    justify-content: center;
    color: brown;
}